ENVIRONMENT=development
LOG_LEVEL=INFO
DATA_SOURCE=mock
TRADINGVIEW_USERNAME=
TRADINGVIEW_PASSWORD=
FRONTEND_API_BASE_URL_DEV=http://127.0.0.1:8000
FRONTEND_API_BASE_URL_SBX=https://sbx-api.example.com
FRONTEND_API_BASE_URL_PROD=https://api.example.com
